@import '../../core/variables';
@import '../../core/mixins';

.section-characters {
    margin-top: 4rem;
    &-list {
        gap: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @include desktop {
            grid-template-columns: 30rem 30rem 30rem;
            row-gap: 4.5rem;
        }
    }
}