@import '../../core/variables';
@import '../../core/mixins';

.section-character-detail {
  @include tablet {
      height: 80vh;
  }
    &-link {
      &-image {
        margin-top: 1rem;
      }
    }
    &-character {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 15rem;
      margin: auto;
      margin-top: 1.2rem;
      min-width: 20rem;
      &:hover {
        transform: scale(1.05);
      }
      @include tablet {
        margin-top: 2rem;
      }
      &-image {
        width: 260px;
        border-radius: 1rem;
      }
      &-container {
        margin-top: 1rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-name {
            font-family: $font-Harry;
            font-size: 2rem;
            letter-spacing: 0.15rem;
            text-align: center;
        }
        &-descritpion {
            font-family: $font-Inter;
            display: flex;
            flex-direction: row;
            align-items: center;
            &-span {
                &-alive, &-dead {
                    display: inline
                }
            }
            &-image {
              width: 2rem;
            }
        }
      }
    }
    .alive {
      animation: beat .5s infinite alternate;
    }
    .dead {
      animation: fall-down 1s infinite;
    }
}