@import '../../core/variables';

.section-error-404 {
    height: 70vh;
    color: $color-white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-image {
        width: 15rem;
    }
    &-title {
        margin-top: 2rem;
        font-family: $font-Bluu-Next;
        text-align: left;
    }
    &-text {
        margin-top: 1rem;
        font-family: $font-Inter;
        color: rgb(219, 219, 219);
        font-size: 0.7rem;
    }
    &-paragraph {
        margin-top: 1rem;
        font-family: $font-Inter;
    }
    &-link {
        font-family: $font-Inter;
        color: $color-violet;
    }
}