@import '../../core/variables';

.footer {
    height: 20vh;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-family: $font-Inter;
    &-text {
        &-link {
            color: $color-violet;
        }
    }
}