@import '../../core/variables';
@import '../../core/mixins';

.header {
    &-nav-header {
    margin-top: 2rem;
    &-link {
        display: flex;
        justify-content: center;
        &-image {
            width: 15rem;
            @include desktop {
                width: 24rem;
            }
        }
    }
}
    &-title {
        margin-top: 2rem;
        color: $color-white;
        font-family: $font-Bluu-Next;
        font-size: 1.75rem;
        text-align: center;
        line-height: 2rem;
        @include tablet {
            width: 30rem;
            margin: auto;
            margin-top: 1.8rem;
        }
        @include desktop {
            font-size: 2.5rem;
        }
        &-span {
            color: $color-violet;
        }
    }
}