@import '../../core/variables';
@import '../../core/mixins';
@import '../../core/animations';

.header {
    &-nav-header {
    margin-top: 2rem;
    &-link {
        display: flex;
        justify-content: center;
        animation-name: bigEntrance;
        -webkit-animation-name: bigEntrance;
        animation-duration: 1.6s;
        -webkit-animation-duration: 1.6s;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        visibility: visible !important;
        &-image {
            width: 15rem;
            @include desktop {
                width: 28rem;
            }
        }
    }
}
    &-title {
        margin-top: 2rem;
        color: $color-white;
        font-family: $font-Bluu-Next;
        font-size: 1.75rem;
        text-align: center;
        line-height: 2rem;
        @include tablet {
            width: 30rem;
            margin: auto;
            margin-top: 1.8rem;
        }
        @include desktop {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
        &-span {
            color: $color-violet;
        }
    }
}