@import '../../core/variables';
@import '../../core/mixins';

.section-search {
    margin-top: 2.8rem;
    background-color: $color-dark-violet;
    color: $color-white;
    padding: 1rem;
    border-radius: 12px;
    font-family: $font-Inter;
    transition: all .3s ease-in;
    &:hover {
        background-color: #181f2c;
        transition: all .3s ease-out;
    }
    @include tablet {
        padding: 1.5rem;
    }
    @include desktop {
        max-width: 60rem;
        margin: auto;
        margin-top: 2.8rem;
    }
    &-form {
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
.reset-button {
    text-decoration: none;
    background-color: $color-white;
    border: none;
    margin-top: 1.5rem;
    width: 25%;
    border-radius: 0.5rem;
    color: #777676;
    transition: all .3s ease-in;
    @include tablet {
        max-width: 6rem;
    }
    &:hover {
        background-color: $color-violet;
        color: $color-white;
        transition: all .3s ease-out;
        cursor: pointer;
    }
}